<div class="container" style="text-align:center">
    <div class="row" style="text-align:center">
      <div class="col-md-12" style="font-size:22px">All Restaurant </div>
      <br><br><br><br>
    </div>
    <div class="row" style="text-align:center">
      <div *ngFor="let order of allOrder" class="col-md-4">
        

        <div class="panel panel-primary">
          <div class="panel-heading">{{order.title | uppercase}}</div>
          <div class="panel-body">
           
              <p>{{Restaurant.description}}</p>
          </div>
          <div class="panel-footer">Posted on {{Restaurant.created | date}}<br/> by {{Restaurant.author}}
          <br/><br/><a [routerLink]="['/order',order.orderId]" class="btn btn-primary">Read</a>
          
          </div>
          
        </div>
  
        <br/>
      </div>
  
    </div>
  
  </div>